In [2]:
import pandas as pd

In [6]:
# pd.Series
population = pd.Series([9904312, 3448737, 2890451, 2466052])
population

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [12]:
# 값 확인
population.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [15]:
population.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [19]:
population = pd.Series([9904312, 3448737, 2890451, 2466052], index = ['서울', '부산', '인천', '대구'])

In [21]:
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [22]:
# type 확인
population.dtype

dtype('int64')

In [23]:
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [24]:
#index와 value에 이름 지정
population.name = "인구" #value에 해당하는 이름 지정
population.index.name = "도시" #index에 해당하는 이름 지정

In [25]:
population

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [26]:
# Series 연산
population / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [28]:
# series 인덱싱
# 지정한 index값을 적어넣어도 되고, 원래 index값(0부터 시작하는 정수)을
# 적어넣어도 동일한 값을 출력
print(population["서울"])
print(population[0])

9904312
9904312

In [55]:
population

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [60]:
#Series 인덱싱을 통해서 서울, 인천에 해당하는 value값 도출
print("서울", population[0])
print("인천", population[2])
print(population[[0, 2]])
#인덱싱을 통해서 행의 위치를 바꿀 수 있다.
print(population[[0, 2, 1]])

서울 9904312
인천 2890451
도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64
도시
서울    9904312
인천    2890451
부산    3448737
Name: 인구, dtype: int64

In [66]:
# 기본 슬라이싱 방법 가능
print(population[0:3])
# 직접 인덱싱을 할 때에 한해서는 ~이상 부터 ~이하까지가 된다.
print(population["서울":"인천"])

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64
도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [76]:
# 불리언 인덱싱을 할때는 true값들이 도출되는 코드를 []로 감싸줘야 한다.
population[population > 3000000]

도시
서울    9904312
부산    3448737
Name: 인구, dtype: int64